header {
    min-height: 100vh;
    background: url(../img/bg-slider-06.jpg) fixed center/cover;  

    h1 {
        text-align: center;
        color: $orange;
        font-size: 2.4rem;
        font-family: $font1;

    }

    h1 span {
        color: $white;
        font-family: $font3;
        font-size: 4rem;
        text-transform: uppercase;
        letter-spacing: 15px;
    }

}