.section2 {
    color: $white;
    padding-bottom: 100px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        height: 620px;
        width: 100%;
        left: 50%;
        bottom: -330px;
        transform: translate(-50%, -50%);
        background: url(../img/bg-menu-01.jpg) center/cover;
    }

    h2 {
        color: $color1;
        font-family: $font1;
        font-size: 2rem;
        font-weight: 500;
        padding: 60px 0 30px;
    }

    ul {
        @include alignChildren(space-around);
        width: 50%;
        margin: 30px auto;
        // min-width sert a eviter que les élémnets de la nav se reserre sur un écran plus petit. 
        min-width: 500px;
        font-size: 1.1rem;
        cursor: pointer;
        transition: 0.2s;

        li {
            border-bottom: 1px solid $grey;
            padding-bottom: 8px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .carte-menu {
        display: grid;
        grid-template-columns: 50% 50%;
        ;
        position: relative;
        z-index: 100;
        background: $white;
        color: $black;
        // limiter la width en mettant 85% par rapport a son parent section2
        width: 85%;
        // Pour centrer l'element
        margin: 0 auto;
        // mettre une max-width pour eviter que cela s'etende à l'infini
        max-width: 800px;
        border-top: 4px solid $color1;
        padding: 15px 0;

        .menu {
            display: grid;
            grid-template-columns: 25% 60% 15%;
            border-bottom: 1px dashed $grey;
            padding: 30px 0;
            margin: 0 20px;


            img {
                border-radius: 50px;
                // object-fit: cover est un paramettre à mettre lorsque l'image est mise depuis la balise html
                object-fit: cover;
                width: 100%;
                // align-self pour s 'assurer que l'image est bien alignée
                align-self: center;

            }

            // > signe qui désigne l'enfant direct P de sont parent .menu car plusieurs P dans la partie .menu
            >p {
                color: $color1;
                font-weight: 600;
                display: grid;
                height: 100%;
                align-items: center;
            }
        }

        .menu-text {
            text-align: left;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 0 10px;
            height: 100%;

            h3 {
                text-transform: uppercase;
                color: $black;
                font-size: 0.8rem;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
}