@font-face {
    font-family: "Allura";
    src: url(./fonts/Allura-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Light.ttf);
}

$font1: Allura,;
$font2: Poppins, sans-serif;
$font3: Roboto, sans-serif;
$white: rgb(248, 248, 248);
$black: rgb(17, 17, 17);
$orange: rgba(189, 129, 39, 0.9);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}